.main-content{
    margin-left: 20px;
    margin-top: 60px;
}
.logout-section{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}