<div class="header bg-gradient-to-l from-yellow-100 to-green-900 w-screen h-17 flex items-center justify-between pl-30 pr-20 shadow-md">
    <h1 class="text-2xl font-bold  text-center text-fuchsia-300">
        SYSTEM DE GESTION DES FREIS DE MISSION
    </h1>
    <div class="left w-50 h-10 bg-white flex items-center justify-between p-2 rounded-lg shadow-lg">
        <img class="img bg-amber-400 w-7 h-7 rounded-full"src="" alt="">
        <h3 class="text-black ">MHUAT PAYEUR</h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-6 w-6 text-gray-600" fill="currentColor">
            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24v136.4l46.6-46.6c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-88 88c-9.4 9.4-24.6 9.4-33.9 0l-88-88c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l46.6 46.6V152c0-13.3 10.7-24 24-24z"/>
        </svg>
    </div>
</div>