<div class="header bg-gradient-to-l from-yellow-100 to-green-900 w-screen h-17 flex items-center justify-between pl-30 pr-20 shadow-md relative">
    <h1 class="text-2xl font-bold text-center text-fuchsia-300">
        SYSTEME DE GESTION DES FRAIS DE MISSION
    </h1>

    <!-- Zone profil -->
    <div (click)="toggleMenu()"
         class="left w-50 h-10 bg-white flex items-center gap-2 p-2 rounded-lg shadow-lg cursor-pointer relative select-none">

        <img class="w-7 h-7 rounded-full" 
            src="https://cdn-icons-png.flaticon.com/512/847/847969.png" 
            alt="avatar">


        <h3 class="text-black">MHUAT PAYEUR</h3>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
             class="h-4 w-4 text-gray-600" fill="currentColor">
            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24v136.4l46.6-46.6c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-88 88c-9.4 9.4-24.6 9.4-33.9 0l-88-88c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l46.6 46.6V152c0-13.3 10.7-24 24-24z"/>
        </svg>

        <!-- MENU PROFIL -->
        <div *ngIf="menuOpen"
             class="absolute top-12 right-0 w-56 bg-white shadow-xl rounded-lg overflow-hidden">

            <a class="block px-4 py-2 hover:bg-gray-100" routerLink="/accueil">🏠 Accueil</a>
            <a class="block px-4 py-2 hover:bg-gray-100" routerLink="/admin">⚙ Admin</a>
            <a class="block px-4 py-2 hover:bg-gray-100" routerLink="/stats">📊 Statistiques</a>
            <a class="block px-4 py-2 hover:bg-gray-100" routerLink="/gestion-personnel">👥 Gestion Personnel</a>
            <a class="block px-4 py-2 hover:bg-gray-100" routerLink="/changer-mdp">🔑 Changer mot de passe</a>
            <a class="block px-4 py-2 text-red-500 hover:bg-red-50" routerLink="/logout">↩ Déconnexion</a>

        </div>
    </div>
</div>